<div class="row justify-content-md-center form-layout login-page">
    <div class="col-md-auto col-layout h-100">
        <div class="mt-5">
            <div class="welcome-div my-4">
                <h3 class="mb-5">Welcome to Good Movie!</h3>
                <img src="/assets/brand/untitled.svg" width="60" height="60">
            </div>

            <form [formGroup]="loginFormGroup" class="from-group">
                <!-- ID -->
                <mat-form-field class="full-width-input">
                    <input class="sign-in-input" matInput placeholder="User ID" formControlName="userId">
                    <mat-error *ngIf="userId.invalid">{{getIdErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <input class="sign-in-input" type="password" matInput placeholder="Password" formControlName="userPassword">
                    <mat-error *ngIf="userPassword.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>


                <!-- Sign in button -->
                <div>
                    <button id="sign-in" mat-button (click)="onLogin()" class=" sign-in full-width-input"
                            [disabled]="!loginFormGroup.valid || canDisableSignInButton">
                        <span class="text-color-login-form">Sign In</span>
                    </button>
                </div>


            </form>
            <div class="atom">
                <div class="electron"></div>
                <div class="electron"></div>
                <div class="electron"></div>
            </div>
        </div>
    </div>
</div>


