<!--Top bar-->
<!--<app-navbar></app-navbar>-->
<!--End Top bar-->

<div class="container-fluid container-home">
    <mat-sidenav-container class="app-sidenav">
        <mat-sidenav mode="side" opened>
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="mat-drawer-modify">
            <!-- Main content -->
                <router-outlet></router-outlet>
            <!--End content-->
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>


</div>
