<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div *ngIf="!isLoadingResults">
    <h2 class="category-title">{{category}}</h2>
    <div class="voting-grid" *ngIf="movies">
        <div class="items">
            <div class="item"
                    *ngFor="let movie of movies">
                <a class="poster" [routerLink]="['/movie', movie.id]">
                    <img *ngIf="movie.poster_path" src="{{ 'https://image.tmdb.org/t/p/w185/' + movie['poster_path'] }}" alt="poster movie">
                    <img *ngIf="!movie.poster_path" src="/assets/images/no_poster_available.jpg" alt="No poster available">
                </a>
                <h3 class="movie-title">{{movie.title}}</h3>
                <div class="movie--genre">
                    <ul>
                        <li *ngFor="let genre of movie['genres']">
                            <a [routerLink]="['/movie/genre']" [queryParams]="{ id: genre.id, name: genre.name}"> {{genre.name}}</a>
                        </li>
                    </ul>
                </div>
                <p style="color: white" *ngIf="movie['rating']">
                    <mat-icon [ngClass]="{'mat-green': movie['rating'] >= 5,
                    'mat-red': movie['rating'] < 5}">star</mat-icon> {{movie['rating']}}
                </p>
            </div>
        </div>
    </div>
    <div class="voting-grid" *ngIf="!movies">
        <div class="error-div">
            <i class="material-icons error-icon">error_outline</i>
            <p class="error-text">No movie found</p>
        </div>
    </div>
</div>
