<div class="movie">
    <div class="movie--background">
        <div class="image-rotator" *ngIf="movie['backdrop_path']"
             [ngStyle]="{'background-image': 'url('+'https://image.tmdb.org/t/p/original'+ movie['backdrop_path'] +')'}">
        </div>
        <div class="vignette"></div>
    </div>
    <div class="movie__head">
        <button class="btn-back" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>{{ movie['title'] }}</h2>
    </div>
    <div class="movie__body">
        <div class="movie--infos">
            <p>
                <mat-icon>date_range</mat-icon> {{ movie['release_date'] | date: 'y' }} •
                <mat-icon>timer</mat-icon> {{ movie['runtime'] }} minutes •
                <mat-icon [ngClass]="{'mat-green': movie['vote_average'] >= 5,
                'mat-red': movie['vote_average'] < 5}">star</mat-icon> {{movie['vote_average']}}
            </p>
        </div>
        <div class="movie--genre">
            <ul>
                <li *ngFor="let genre of movie['genres']">
                    <!--<a [routerLink]="['/movies/genre', {id: genre.id, name: genre.name}]"> {{genre.name}}</a>-->
                    <a> {{genre.name}}</a>
                </li>
            </ul>
        </div>
        <p class="movie--overview">{{movie['overview']}}</p>
    </div>
</div>
