<div class="movie">
    <div class="movie--background">
        <div class="image-rotator" [ngStyle]="{'background-image': 'url('+'https://image.tmdb.org/t/p/original'+movie.backdrop_path+')'}">
        </div>
        <div class="vignette"></div>
    </div>
    <div class="movie__head">
        <button class="btn-back" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>{{movie.title}}</h2>
    </div>
    <div class="movie__body">
        <div class="movie--infos">
            <p>
                <mat-icon>date_range</mat-icon> {{movie.release_date | date: 'y'}} •
                <mat-icon>timer</mat-icon> {{movie.runtime}} minutes •
                <mat-icon [ngClass]="{'mat-green': movie.vote_average >= 5, 'mat-red': movie.vote_average < 5}">star</mat-icon> {{movie.vote_average}}
            </p>
        </div>
        <div class="movie--genre">
            <ul>
                <li *ngFor="let genre of movie.genres">
                    <a [routerLink]="['/movies/genre', {id: genre.id, name: genre.name}]"> {{genre.name}}</a>
                </li>
            </ul>
        </div>
        <p class="movie--overview">{{movie.overview}}</p>
        <div class=" movie--actions">
            <button *ngIf="authService.user | async" mat-button (click)="pushMovieCategoryDefault(movie, 'MovieLater')">
                <mat-icon class="mat-teal">watch_later</mat-icon> {{'Movie.Watch later' | translate}}
            </button>
            <button *ngIf="authService.user | async" mat-button (click)="pushMovieCategoryDefault(movie, 'FavoriteMovie')">
                <mat-icon class="mat-red">favorite_border</mat-icon> {{'Movie.Favorite' | translate}}
            </button>
            <button *ngIf="authService.user | async" mat-button [matMenuTriggerFor]="menu" (click)="getAllCategories()">
                <mat-icon>create_new_folder</mat-icon> {{'Movie.Categories' | translate}}
            </button>
            <mat-menu #menu="matMenu">
                <div *ngIf="categories.length > 0; else noData">
                    <button mat-menu-item *ngFor="let category of categories" (click)="pushMovieCategory(movie, category)">{{category}}</button>
                </div>
                <ng-template #noData>
                    <small>{{'Movie.No lists' | translate}}</small>
                </ng-template>
            </mat-menu>
            <button mat-button (click)="shareDialog(movie)">
                <mat-icon class="mat-yellow">share</mat-icon> {{'Movie.Share' | translate}}
            </button>
        </div>
    </div>
</div>
