@import '../../../assets/scss/palette';

.category-title {
    padding-top: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.example-card {
    /* background-color: lightblue; */
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.brief-text {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-read-more {
    margin-left: 65%;
}

.poster > img {
    height: 278px;
    width: 185px;
}

.items {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.items .item {
    position: relative;
    margin: 1rem .625rem;
    width: 200px;
    text-align: center;
}

.movie-title {
    margin: 15px 0 5px;
    color: $primary-light;
    display: block;
    font-size: 1.17rem;
}

.voting-grid {
    background-color: $black;
    .error-div {
        text-align: center;
        margin-top: 150px;
        .error-icon {
            color: white;
            font-size: 5rem;
        }
        .error-text {
            color: white;
            font-size: 2rem;
        }
    }

}

.footer /deep/ {
    .ngx-pagination {
        text-align: center;
        margin-bottom: 0;
    }

    .ngx-pagination .current {
        background-color: $primary-light !important;
        font-weight: 500;
    }

    .ngx-pagination .disabled {
        color: grey !important;
        font-weight: 500;
    }

    .ngx-pagination a:hover, .ngx-pagination button:hover {
        background-color: $primary-light !important;
        color: $white !important;
    }

    .ngx-pagination a, .ngx-pagination button {
        color: $primary-light !important;
        font-weight: 500;
    }
}



.movie--genre {
    color: white;
    a {
        color: white;
    }
    ul {
        padding: 0;

        li {
            display: inline-block;
            padding: 0 5px 0 0;

            &::after {
                content: ',';
                color: white;
            }
            &:last-child:after {
                content: '';
            }
        }
    }
}



