@import "../../../assets/scss/palette";

.voting-grid {
    background-color: #141414;
    .error-div {
        text-align: center;
        margin-top: 150px;
        .error-icon {
            color: $grey;
            font-size: 5rem;
        }
        .error-text {
            color: $grey;
            font-size: 2rem;
        }
    }

}