<mat-card class="example-card">
    <img mat-card-image src="{{ item['image'] }}" alt="Photo of a item">
    <mat-card-content>
        <mat-card-title>{{ item['name'] }}</mat-card-title>
        <mat-card-subtitle>{{ item['price'] }}</mat-card-subtitle>
        <mat-card-subtitle>{{ item['rating'] }}</mat-card-subtitle>
        <div class="brief-text">
            <p>
                {{ item['description'] }}
            </p>
        </div>
        <button mat-button class="btn-read-more">Read more</button>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="">Add to cart</button>
    </mat-card-actions>
</mat-card>
