.custom-nav {
    background-color: #ff424f;
    color: #fff;
}

.middle-brand-text {
    margin-top: 3px;
}

.nav-item-text {
    font-size: 16px;
}

.navbar-brand {
    float: left;
}

.navbar-right {
    padding-right: 2rem;
}

.log-out:hover {
    text-decoration: underline;
    cursor: pointer;
}
