<nav class="navbar navbar-expand-lg custom-nav row no-gutters">
    <div class="col">
        <button mat-button class="navbar-brand" [routerLink]="['']">
            <img src="/assets/brand/untitled.svg" width="30" height="30" class="d-inline-block align-top middle-brand-text">
            {{brandName}}
        </button>
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <button name="{{menuItem.title}}" class="nav-item-text"
                        [routerLink]="[menuItem.path]" mat-button>
                    {{menuItem.title}}
                </button>
            </li>
        </ul>
    </div>

    <div class="col-3">
        <div class="float-right navbar-right">
            <button *ngIf="!isLogin" class="nav-item-text" [routerLink]="['/login']" mat-button>
                Login
            </button>
            <p class="my-0 nav-item-text" *ngIf="isLogin">Welcome
                <span><strong>{{user['name']}}</strong>!</span>
                <span class="log-out" (click)="logOut()"><small>Log out</small></span>
                </p>
        </div>
    </div>
</nav>
