<div class="navigation">
    <div>
        <button mat-button class="navbar-brand" [routerLink]="['']">
            <img src="/assets/brand/untitled.svg" width="30" height="30" class="d-inline-block align-top middle-brand-text">
            {{brandName}}
        </button>
    </div>
    <div class="navigation--search">
        <mat-form-field>
            <input matInput #search placeholder="Search..."
                   tabindex="-1">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div>
        <p class="menu-link welcome-user">
            <em>
                <span *ngIf="!isLogin">Welcome to <span>Good Movies</span>!</span>
                <span *ngIf="isLogin">Welcome <span>{{user['name']}}</span>!</span>
            </em>
        </p>
    </div>
    <ul class="navigation--links">
        <li>
            <a class="menu-link" [routerLink]="['/movie/list']" routerLinkActive="active">
                <mat-icon>local_movies</mat-icon> All movies</a>
        </li>
        <li *ngIf="isLogin">
            <a class="menu-link" [routerLink]="['/movies-for-you']" routerLinkActive="active">
                <mat-icon>movie_filter</mat-icon> Movies for you</a>
        </li>
        <li *ngIf="isLogin">
            <a class="menu-link" [routerLink]="['/rated-movies']" routerLinkActive="active">
                <mat-icon>star_rate</mat-icon> Movies you rated</a>
        </li>
        <li (click)="onMenuClicked()">
            <a class="menu-link">
                <mat-icon>filter_list</mat-icon> Genres</a>
        </li>
        <li class="cancel-hover" *ngIf="isShowingGenre">
            <ul class="navigation--genre" >
                <li *ngFor="let genre of genres">
                    <a class="menu-link genre-title"
                       [routerLink]="['/movie/genre']" 
                       [queryParams]="{ id: genre.id, name: genre.name}" 
                       routerLinkActive="active">
                       <mat-icon>movie</mat-icon> {{genre['name']}}</a>
                </li>
            </ul>
        </li>
        <li *ngIf="!isLogin">
            <a class="menu-link" [routerLink]="['/login']">
                <mat-icon>layers</mat-icon> Sign in</a>
        </li>
        <li *ngIf="isLogin">
            <a class="menu-link" (click)="onSignOutClicked()">
                <mat-icon>layers_clear</mat-icon> Sign out</a>
        </li>
    </ul>
</div>
